.bookkit-ext-edit,
.bookkit-ext-refresh {
	margin-left: 0.5em;
	font-size: 24px;
	cursor: pointer;
}

.bookkit-ext-refresh {
	font-size: 19px;
}

.uu-bookkit-book-top-text a {
	color: white;
	text-decoration: none;
}
